html, body {
    margin: 0;
    padding: 0;

    color: white;
    background-color: black;
}

* {
    box-sizing: border-box;
}

table, td, tr {
    border-spacing: 0;
    border: 0.1em solid #666;
}

table {
    margin: 1em;
    width: 70%;
    float: left;
}

.larger {
    width: 70%;
}

.smaller {
    width: 30%;
}

td {
    padding: 0.5em;

    text-align: center;
}

.flex {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: flex-start;
}

p {
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .flex {
        flex-direction: column;
    }

    .title {
        display: none;
    }
}

canvas {
    width: 10em;
    height: 10em;
}

html[lightmode="true"] {
    filter: invert(1.0);
}

canvas {
    box-shadow: inset 0px 0px 2px 1000px #222, 0px 0px 0.5em 0.5em #222;
    margin-top: 0.3em;
}

#lightmode {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    width: 3rem;
    height: 3rem;

    background-color: #222;
    border: 0.2rem solid #333;
    border-radius: 0.5rem;

    text-align: center;
    font-size: 1.8em;

    transition: all 0.1s linear;

    user-select: none;
}

#lightmode:hover {
    scale: 1.2;
}